doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Settings
		link(rel = 'stylesheet' href = '/css/config.css')
	body
		.buttonControls
			button#refreshDBButton.default(
				onclick = 'refreshDB()'
				) Refresh DB
			span#refreshDBResponse Reload DB with changes on disk.
		.buttonControls
			button#pruneDBButton.default(
				onclick = 'pruneDB()'
				) Prune DB
			span#pruneDBResponse Delete entries from DB which are no longer on disk.
		script(src = '/js/config.js')