doctype html
html
	head
		link(rel='stylesheet' href='/css/landscape-styles.css')
		title Gallery
		script(src='/js/hammer.js')
		script(src='/js/main.js')
	body
		div#mainContent
			- let imageLinkEscaped = encodeURIComponent(imagePath)
			if (imagePath.endsWith('.mp4') || imagePath.endsWith('.webm') || imagePath.endsWith('.mkv'))
				video#randomImage(src=imageLinkEscaped controls autoplay loop)
			else
				img#randomImage(src=imageLinkEscaped)
		div#bottomContainer
			div#info
				a#imageTitle(href='/search?searchText='+imageName)
					|#{imageName}
				br
				a#subTitle(href='/search?searchText='+directoryPath)
					|#{directoryPath}
			div#navigationdiv
				div.navigation
					input#searchText(type='text' placeholder='Search... (/... for regex)')
					button#searchButton 🔎
					button#searchShuffledButton(onclick='searchShuffled()') 🔍
					button#similarButton ≅
					button#refreshDB ↻
				div.navigation
					span#renameStatus
					input#newFileName(type='text' name='newFileName' placeholder='New name')
					button#renameButton ✒
					button#previousbtn <
					button#randombtn 🔀
					button#nextbtn >
		button#fullscreenButton(title='Fullscreen (F)', onclick='hideNavigation()') 🢅