doctype html
html
	head
		link(rel='stylesheet' href='/css/portrait-styles.css')
		title Gallery
		script(src='/js/hammer.js')
		script(src='/js/main.js')
	body
		div.searchBar
			input#searchText(type='text' placeholder='Search... (/... for regex)')
			button#searchButton Search
		div.renameBar
			input#newFileName(type='text' name='newFileName' placeholder='New name')
			button#renameButton Rename
		div#info
			a#imageTitle(href='/search?searchText='+imageName, target='_blank')
				|#{imageName}
			span#renameStatus
		div#mainContent
			if (imagePath.endsWith('.mp4') || imagePath.endsWith('.webm') || imagePath.endsWith('.mkv'))
				video#randomImage(src=imagePath controls autoplay loop)
			else
				img#randomImage(src=imagePath)
		div#info
			a#subTitle(href='/search?searchText='+directoryPath, target='_blank')
				|#{directoryPath}
		div.navigation
			button#similarButton(style="visibility:hidden") Similar
			button#refreshDB(style="visibility:hidden") Refresh DB
		div#navigationPlaceholder
		div#navigationdiv
			div.navigation
				button.navigation#previousbtn
					|<
				button.navigation#randombtn
					|∞
				button.navigation#nextbtn
					|>