body {
	background-color: black;
	color: white;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: smaller;
}

.buttonControls{
	padding: 3px;
}

button {
	width: 8rem;
	font-size: 1.2rem;
	border: none;
	margin: 0 5px;
}

button.default {
	color: white;
	background-color: cornflowerblue;
}

button.processing {
	background-color: orange;
	color: white;
}

button.success {
	background-color: green;
	color: white;
}

button.error {
	background-color: red;
	color: white;
}

button:active {
	color: white;
	background-color: gray;
}