body {
	background-color: black;
}

button {
	font-size: 1.2rem;
	border: none;
}

button.default {
	color: white;
	background-color: cornflowerblue;
}

button.processing {
	background-color: orange;
	color: white;
}

button.success {
	background-color: green;
	color: white;
}

button.error {
	background-color: red;
	color: white;
}

button:active {
	color: white;
	background-color: gray;
}