/* Styles for landscape screens */
body {
	max-width: 100vw;
	/* to account for the navigation bar */
	overflow-wrap: break-word;
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
	text-decoration: none;
}

#imageTitle {
	font-size: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
	height: calc(100vh - 110px);
	margin: 0 auto;
	display: block;
}

video {
	height: calc(100vh - 110px);
	margin: 0 auto;
	display: block;
}

#image-path {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#renameStatus {
	font-size: 15px;
}

input {
	padding: 5px;
	border: 5px solid #d1d1d1;
	border-width: 3px;
	border-radius: 5px;
	width: 300px;
	height: 25px;
	font-size: 15px;
	margin: 5px 5px;
}

button {
	padding: 5px;
	border: 5px solid #d1d1d1;
	border-width: 3px;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	font-size: 15px;
	margin: 5px 5px;
}

button:active {
	background-color: black;
}

#container {
	display: flex;
	flex-direction: row;
}

#info,
#forms,
#buttons {
	height: 100px;
	/* adjust height as needed */
}

#info {
	flex: 2;
}

#forms {
	flex: 1;
}

#buttons {
	flex: 1;
}