/* Styles for landscape screens */

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	max-width: 100vw;
	/* dont know why but if you set this to 100vh then page can scroll a teeny tiny bit which is annoying 
	every other value behaves same so whatever */
	max-height: 1vh;
	/* to account for the navigation bar */
	overflow-wrap: break-word;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
}

#mainContent {
	background-color: black;
	height: calc(100vh - 110px);
	max-height: 100vh;
	max-width: 100vw;
}

#imageTitle {
	font-size: 50px;
	font-weight: bolder;
	color: white;
}

#subTitle {
	font-size: larger;
	color: lightgray;
	font-weight: lighter;
}

img,
video {
	height: 100%;
	margin: 0 auto;
	display: block;
	object-fit: contain;
}

#renameStatus {
	font-size: 15px;
}

input, button {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	padding: 5px;
	border: 1px solid gray;
	height: 40px;
	font-size: 12px;
	margin: 1px;
	background-color: rgb(43, 43, 43);
	color: white;
}

input {
	width: 300px;
}

button {
	width: 50px;
}

button:active {
	background-color: black;
}

#bottomContainer {
	display: flex;
	flex-direction: row;
	max-width: 100%;
}

#info,
#navigationdiv {
	display: block;
	height: 100px;
	/* adjust height as needed */
}

#info {
	flex: 2;
	overflow-x: hidden;
	white-space: nowrap;
}

#navigationdiv {
	margin: auto;
	white-space: nowrap;
}

#fullscreenButton {
	height: 30px;
	width: 30px;
	position: fixed;
	border-radius: 0;
	border-width: 0;
	margin: 0;
	padding: 0;
	right: 0px;
	top: 0px;
	font-size: 20px;
	background-color: rgb(41, 41, 41);
	color: white;
}