:root {
	--sidebar-width: 400px;
}

.result:hover {
	scale: 102%;
	z-index: 6;
	box-shadow: rgb(0, 0, 0) 0px 10px 30px 10px;
	transition: transform 0.2s ease;
}

.result:hover>.imageSidebar {
	opacity: 100%;
	top: 100%;
	z-index: 7;
	transition: transform 0.3s ease, opacity 0.5s ease;
}

.result:has(.selectedImage) {
	.resultFile {
		transition: filter 0.3s ease;
	}

	.resultFile:hover {
		filter: none
	}
}

.imageSidebar {
	padding: 2px;
	width: 100%;
}

.sidebarButton {
	border-radius: 2px;
	width: 1.2rem;
	height: 1.2rem;
	border: none;
	position: relative;
}

.actionButtonIcon {
	color: white;
	font-weight: bold;
	height: 1rem;
	width: 1rem;
	top: 1px;
	left: 2px;
}

.contextMenu,
.rename {
	display: none;
}

.deleteDiv {
	position: absolute;
	right: 0;
	margin-top: 4px;
	margin-right: 3px;
}

.marquee1 {
	padding-right: 24px;
}

.marquee3 {
	width: 100%;
}

#sidebarToggleButton {
	z-index: 9;
	height: 2.5rem;
	width: 2.5rem;
	position: fixed;
	border-radius: 0;
	border-width: 0;
	margin: 0;
	padding: 0;
	left: 0px;
	top: 0rem;
	font-size: 1.2rem;
	color: white;
	border-radius: 0 0 0 5px;
	background-color: rgba(0, 0, 0, .9);
}

#sidebarToggleButton {
	top: unset;
	bottom: 2.5rem;
	border-radius: 0px 5px 5px 0px;
	transition: all 0.1s ease-in-out;
	background-color: rgba(0, 0, 0, .9);

	&.open {
		transform: translateX(var(--sidebar-width));
	}
}

#sidebar {
	display: flex;
	flex-direction: column;
	gap: 5px;
	z-index: 10;
	width: var(--sidebar-width);
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	top: 0;
	left: calc(var(--sidebar-width) * -1);
	transition: all 0.1s ease-in-out;
	overflow-y: auto;
	padding: 5px;

	&.open {
		transform: translateX(var(--sidebar-width));
	}
}

.mainDiv.pinned {
	margin-left: var(--sidebar-width);
	transition: all 0.3s ease-in-out;
}