/* layout */

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2 {
	font-size: 1.8rem;
	word-wrap: break-word;
	padding-left: 5px;
}

.header {
	position: sticky;
	top: 0;
	z-index: 8;
	background: black;
	transition: top 0.3s ease-in-out;
	padding-bottom: 5px;
}

.header.unpinned {
	transform: translateY(-100%);
	transition: all .3s;
}

.header.pinned {
	transform: translateY(0);
	transition: all .3s;
}

#folderTree {
	width: 100%;
	max-width: 100%;
	max-height: 50vh;
	overflow: auto;
	scrollbar-width: none;
}

#folderTree ul {
	list-style: none;
	padding-left: 12px;
	margin: 0;

	.currentPath {
		background: dodgerblue;
		font-weight: bold;
	}

}

.folder-label {
	cursor: pointer;
	user-select: none;
	color: white;
	white-space: nowrap;

	&::before {
		border-left: 1px solid;
		border-bottom: 1px solid;
		padding: 0px 5px;
		width: 10px;
	}
}

.folder-label.collapsible::before {
	content: "▶";
	display: inline-block;
}

.folder-label.collapsible.open::before {
	content: "◢";
}

.folder-label.leaf::before {
	content: "▷";
	display: inline-block;
}

.collapsed {
	display: none;
}

.folder-link {
	margin-left: 5px;
}

.results {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	padding: 1rem;
	padding-bottom: 50vh;
}

.results::after {
	content: '';
	flex-grow: 999999999;
}

.result {
	margin: 2px;
	position: relative;
	z-index: 3;
	/* transition: all 0.3s ease; */
}

i {
	display: block;
}

input.selectCheckbox {
	position: absolute;
	top: 0;
	left: 2px;
	z-index: 1;
	accent-color: greenyellow;
}

img,
video {
	position: absolute;
	top: 0;
	width: 100%;
	vertical-align: bottom;
}

.progressBarContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(0, 0, 0, 0.50);
}

.progressBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: rgba(255, 255, 255, 0.74);
	transition: all 0.3s linear;
}

.imageSidebar {
	/* min-width: 15rem; */
	display: flex;
	position: fixed;
	top: 90%;
	left: 0;
	padding: .3rem;
	z-index: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7));
	word-wrap: break-word;
	word-break: break-word;
	opacity: 0%;
	gap: .3rem;
	align-items: flex-start;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.infoDiv {
	font-size: .8rem;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.actionButtons {
	display: none;
	flex-direction: column;
}

.actionButtons>* {
	font-size: 1rem;
	width: 1.8rem;
	height: 1.8rem;
	background-color: black;
	border: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 5px;
	padding: 0;
}

.renameButton,
.contextMenuButton {
	background-color: cornflowerblue;
	color: white;
	font-weight: bold;
}

.deleteButton {
	background-color: crimson;
	color: white;
	font-weight: bold;
}

.contextMenu {
	position: relative;
	display: inline-block;
}

.additionalButtons {
	position: absolute;
	bottom: 100%;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	transform: translateY(10px);
	z-index: 9;
}

.additionalButtons.show {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

.extraButton {
	display: block;
	margin: 5px 0;
	cursor: pointer;
	background-color: cornflowerblue;
}

.subTitle {
	color: white
}

.marquee1,
.marquee3 {
	color: white;
	margin-top: 0.1rem;
	display: flex;
	flex-wrap: wrap;
}

.marquee3 {
	margin-right: -7.5rem;

	/* hides the first part of the file path which is always just 'images' */
	.pathSegment:first-child {
		display: none;
	}
}

.nameSegment,
.pathSegment {
	background: #2e2e2e;
	border-radius: 0.2rem;
	margin: 0.1rem;
	padding: 0 0.2rem;
	text-wrap: wrap;
}

.marquee2 {
	padding-left: 2px;
	padding-top: 2px;
	font-size: 0.7rem;
}

/* The Modal (background) */
#modal {
	position: fixed;
	display: none;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

.modalImageContainer,
.modalVideoContainer {
	display: none;
	height: 100%;
}

.filler {
	flex-grow: 2;
	width: 100px;
	color: red;
}

.modalVideo {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.modalImageDetails {
	position: fixed;
	z-index: 1;
	display: flex;
}

.modalImageDetails .imageDetailsButton {
	display: none;
}

.modalImageDetails .marquee1 {
	order: 1;
}

.modalImageDetails .marquee2 {
	order: 3;
}

.modalImageDetails .marquee3 {
	order: 2;
}


#modalCloseButton {
	position: fixed;
	right: 1.5rem;
	top: 0rem;
	color: white;
	font-size: 4rem;
	font-weight: bold;
}

#modalCloseButton:hover,
#modalCloseButton:focus {
	color: tomato;
	text-decoration: none;
	cursor: pointer;
	opacity: 100%;
}

#modalNextButton,
#modalPreviousButton,
#modalNextFromResultsButton,
#modalPreviousFromResultsButton {
	position: fixed;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	padding: 50px;
}

#modalNextButton {
	right: 2rem;
	top: 50%;
}

#modalPreviousButton {
	left: 2rem;
	top: 50%;
}

#modalNextFromResultsButton {
	right: 2rem;
	top: 30%;
}

#modalPreviousFromResultsButton {
	left: 2rem;
	top: 30%;
}

#modalNextButton:hover,
#modalNextButton:focus,
#modalPreviousButton:hover,
#modalPreviousButton:focus,
#modalNextFromResultsButton:hover,
#modalNextFromResultsButton:focus,
#modalPreviousFromResultsButton:hover,
#modalPreviousFromResultsButton:focus {
	color: cornflowerblue;
	text-decoration: none;
	cursor: pointer;
	opacity: 100%;
}

.modalButton {
	transition: all 0.3s ease;
	opacity: 0.1;
	user-select: none;
	cursor: pointer;
}

.transparent {
	opacity: 0 !important;
}

.renameDialog {
	padding: 0;
	width: 100%;
}

.renameForm>* {
	font-size: 1rem;
}

/* base style not dependent on scaling or device */
body {
	background-color: black;
}

h2 {
	color: white;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: white;
}

button.default {
	color: gray;
	background-color: rgb(29, 29, 29);
}

button.processing {
	background-color: orange;
	color: white;
}

button.success {
	background-color: green;
	color: white;
}

button.error {
	background-color: red;
	color: white;
}

.imageTitle {
	font-weight: bold;
}

/* common layout */

.searchForm {
	display: flex;
	flex-direction: row;
	gap: .4rem;
}

#searchText {
	padding: .4rem;
	height: 2.2rem;
	width: 100%;
	font-size: 1.3rem;
	background-color: rgb(29, 29, 29);
	color: white;
	border: none;
}

.newFileName {
	width: 100%;
	background-color: rgb(29, 29, 29);
	color: white;
	border: none;
}

.shuffleDiv {
	height: 2.2rem;
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: .4rem;
	background-color: rgb(29, 29, 29);
	gap: 5px;
}

label {
	font-size: 1.3rem;
	color: gray;
	align-self: center;
	display: flex;
	gap: 5px;
}

input[type='checkbox'] {
	align-self: center;
	width: 1.3rem;
	height: 1.3rem;
	margin: 2px 0;
}

#configButton {
	width: 100%;
	height: 2.2rem;
	font-size: 1.3rem;
	border: none;
}

#configButton:hover {
	background-color: white;
	color: black;
}

.vertical {
	display: flex;
	flex-direction: column;
	gap: .4rem;
}

.horizontal {
	display: flex;
	flex-direction: row;
	gap: .4rem;
}

.sortButtons {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.sortButton {
	height: 2.2rem;
	color: gray;
	background-color: rgb(29, 29, 29);
	border: none;
	font-size: 1.3rem;

	&.active {
		color: black;
		background: white;
	}
}

ul {
	padding-left: 1.5rem;
}

.bulkRow {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.bulkCol {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.buttonsFlex {
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}

#sidebar {
	scrollbar-width: none;
}

#sidebar .historyButton {
	font-size: small;
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: background-color 1000ms ease;

	&.flash-green {
		background-color: green;
	}

	&.flash-red {
		background-color: chocolate;
	}
}

#sidebar input {
	padding: .4rem;
	height: 2.2rem;
	font-size: 1rem;
	background-color: rgb(29, 29, 29);
	color: white;
	border: none;
	flex: 1;
}

#sidebar label {
	font-size: 1rem;
}

#sidebar input[type="checkbox"] {
	width: 1.2rem;
	height: 1.2rem;
}

#sidebar input[type="text"] {
	width: 100%;
}

#sidebar button {
	height: 2.2rem;
	font-size: 1rem;
	background-color: rgb(29, 29, 29);
	color: white;
	border: none;
}

#sidebar button:hover {
	background-color: gray;
}

#sidebar button:active {
	background-color: black;
}

button#deleteButton {
	background: crimson;
}

button#moveFilesButton {
	background: blueviolet;
}

button#prependToNameButton {
	background: forestgreen;
}

button#appendToNameButton {
	background: royalblue;
}

button#removeFromNameButton {
	background: orangered;
}

button#replaceInNameButton {
	background: deeppink;
}

button#renameBulkButton {
	background: yellow;
	color: black;
}

.instructions {
	color: white;
	margin: 5px;
}

#selectedFilesCount {
	color: white;
}

#scrollToTopButton {
	border-radius: 5px 0 0 0;
	z-index: 9;
	height: 2.5rem;
	width: 2.5rem;
	position: fixed;
	border-width: 0;
	margin: 0;
	padding: 0;
	right: 0rem;
	bottom: 0rem;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
}

#scrollToTopBtn:hover {
	background-color: #333;
}

*::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(29, 29, 29);
	border-radius: 1rem;
	border: 1rem solid rgb(51, 51, 51);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: white;
}

#sliderContainer {
	padding: 0 .4rem;
	display: flex;
	align-items: center;
	height: 2.2rem;
	gap: 0.3rem;
	background-color: rgb(29, 29, 29);
}

.slider {
	appearance: none;
	height: 2.2rem;
	background: rgb(29, 29, 29);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 1.6rem;
	height: 1.6rem;
	background: white;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
	scale: 120%;
	transition: all 0.3s ease;
}

.slider::-moz-range-thumb {
	width: 1.6rem;
	height: 1.6rem;
	background: white;
	cursor: pointer;
}

.thumbnailOverlay {
	margin-top: 0.2rem;
	margin-left: 0.2em;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 20rem;
	/* box-shadow: 0px 0px 2rem 0.5rem rgba(0, 0, 0, 1); */
	padding: 0.5rem 1rem;
	/* border: 2px solid white; */
	background-color: #00000073;
	color: white;
	cursor: pointer;
}

/* scaling */

@media screen and (orientation: landscape) {
	/* CSS rules for landscape orientation go here */

	/* phone */
	@media screen and (min-resolution: 100dpi) {
		html {
			font-size: 80%;
		}
	}

	/* pc */
	@media screen and (max-resolution: 100dpi) {
		html {
			font-size: 100%;
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 5px;
	}

	.controlsDiv {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
		padding-right: 2.5rem;
		gap: .4rem;
	}
}

#switchToTileViewButton {
	display: none;
}

.scaleButtons {
	display: none;
}

.result:has(.selectedImage) {
	outline: 2px dashed greenyellow;

	.resultFile {
		filter: grayscale(1) opacity(0.5);
	}
}

.renameFailed {
	border-color: crimson;
}

div#popupContainer {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-height: 98px;
	overflow: auto;
	background: black;
	scrollbar-width: none;
	border: 2px dashed cornflowerblue;
	padding: 3px;
	transition: all 0.3s ease;
	width: 285px;
}

.popup {
	transition: all 0.3s ease;
	padding: 0 3px;
	color: white;

	&.info {
		background: cornflowerblue;
	}

	&.warn {
		background: coral;
	}

	&.error {
		background: crimson;
	}
}

.pagination {
	display: none;
}