html {
	font-size: 100%;
}

h1 {
	padding-top: 0.5rem;
	font-size: 1.5rem;
}

h2 {
	font-size: 1rem;
	padding-bottom: 0.3rem;
}

#sliderContainer,
.searchForm,
.slider {
	width: -webkit-fill-available;
}

.results {
	padding: 0;
	padding-bottom: 50vh;
	touch-action: pan-y;
}

/* To permanently show the image title and actions*/
.imageSidebar {
	position: static;
	opacity: 100%;
	padding: 3px;
}

.imageSidebar.minimized {
	display: block;
	padding: 0;

	.imageDetailsButton {
		display: none;
	}

	.nameSegment,
	.pathSegment,
	.subTitle,
	.marquee {
		font-size: 7px;
		background: none;
		margin: 0px;
		padding: 0px;
	}

	.marquee2 {
		display: none;
	}
}

.infoDiv {
	font-size: 1rem;
}

.rename {
	width: 2.2rem;
	height: 2.2rem;
}

.marquee-container {
	max-width: calc(100vw - 8rem);
}

.marquee {
	overflow: scroll;
	text-wrap: nowrap;
	scrollbar-width: none;
}

#modalCloseButton {
	position: fixed;
	right: .2rem;
	top: 0rem;
	color: tomato;
	font-size: 4rem;
	font-weight: bold;
	opacity: 30%;
}

#modal {
	touch-action: none;
}

#modalCloseButton:hover,
#modalCloseButton:focus {
	color: tomato;
	text-decoration: none;
	cursor: pointer;
	opacity: 100%;
}

#modalNextButton,
#modalPreviousButton,
#modalNextFromResultsButton,
#modalPreviousFromResultsButton {
	position: fixed;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	padding: 0px 20px;
	opacity: 30%;
	text-shadow: 2px 2px black;
}

#modalNextButton {
	right: .2rem;
	top: 80%;
}

#modalPreviousButton {
	left: .2rem;
	top: 80%;
}

#modalNextFromResultsButton {
	right: .2rem;
	top: 65%;
}

#modalPreviousFromResultsButton {
	left: .2rem;
	top: 65%;
}

#modalNextButton:hover,
#modalNextButton:focus,
#modalPreviousButton:hover,
#modalPreviousButton:focus,
#modalNextFromResultsButton:hover,
#modalNextFromResultsButton:focus,
#modalPreviousFromResultsButton:hover,
#modalPreviousFromResultsButton:focus {
	color: cornflowerblue;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease;
	opacity: 100%;
}


/* common portrait settings */
.controlsDiv {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#sidebar {
	overflow: hidden;
	touch-action: pan-y;
}

.sidebarButton {
	border-radius: 4px;
	width: 2.2rem;
	height: 2.2rem;
	border: none;
	position: relative;
}

.actionButtonIcon {
	color: white;
	font-weight: bold;
	height: 2rem;
	width: 2rem;
	top: 1px;
	left: 2px;
}

#fullscreenButton,
#sidebarToggleButton {
	z-index: 9;
	height: 2.5rem;
	width: 2.5rem;
	position: fixed;
	border-radius: 0;
	border-width: 0;
	margin: 0;
	padding: 0;
	right: 0px;
	top: 0rem;
	font-size: 1.2rem;
	color: white;
	border-radius: 0 0 0 5px;
	background-color: rgba(0, 0, 0, .9);
}

#sidebarToggleButton {
	top: unset;
	bottom: 2.5rem;
	border-radius: 5px 0 0 5px;
	transition: all 0.1s ease-in-out;
	background-color: rgba(0, 0, 0, .9);

	&.open {
		transform: translateX(-300px);
	}
}

#sidebar {
	display: flex;
	flex-direction: column;
	gap: 5px;
	z-index: 10;
	width: 300px;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	top: 0;
	right: -300px;
	transition: all 0.1s ease-in-out;
	overflow-y: auto;
	padding: 5px;

	&.open {
		transform: translateX(-300px);
	}
}

.buttonsFlex {
	gap: 5px;
}

#sidebar .historyButton {
	font-size: small;
	height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}