* {
	box-sizing: border-box;
}

h1,
h2 {
	font-family: 'Tahoma', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
	color: white;
	font-size: 50px;
}

h2 {
	color: lightgray;
}

body {
	max-width: 100vw;
	/* to account for the navigation bar */
	overflow-wrap: break-word;
	font-family: 'Tahoma', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: rgb(39, 39, 39);
}

.rowDiv {
	/* max-width: 100%; */
}

#imageTitle {
	color: white;
}

#subTitle {
	color: lightgrey;
}

#mainContent {
	background-color: black;
	object-fit: contain;
}

a {
	text-decoration: none;
}

.pagination {
	display: flex;
	flex-direction: row;
}

.pageButtons {
	flex: 1;
	align-items: center;
	margin: auto;
	overflow-x: auto;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

div.pageButtons::-webkit-scrollbar {
	display: none;
}

.navigationButtons {
	margin-left: auto;
	border: solid;
	border-width: 4px;
	border-radius: 20px;
	padding: 10px;
	border-color: rgb(51, 51, 51);
}


/* Styles for landscape orientation */
@media screen and (orientation: landscape) {
	/* CSS rules for landscape orientation go here */

	/* search results page */
	body {
		margin: 0 0px;
		background-color: black;
	}

	h1,
	h2 {
		margin: 5px;
	}

	.mainDiv {
		/* display: flex; */
		/* flex-direction: column; */
		max-height: 99vh;
	}

	.infoDiv {
		display: flex;
		align-items: flex-start;
	}

	.imageName,
	.tinyText {
		margin: 0;
		padding: 0;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}

	.imageName {
		font-weight: bold;
		font-size: 35px;
	}

	.tinyText {
		font-size: 25px;
	}

	.results {
		display: flex;
		flex: 1;
		margin: auto 0;
		flex-wrap: nowrap;
		overflow-x: auto;
		justify-content: flex-start;
		/* -webkit-overflow-scrolling: touch; */
		/* scroll-behavior: smooth; */
		/* transform: translateZ(0); */
	}

	*::-webkit-scrollbar {
		width: 20px;
	}

	*::-webkit-scrollbar-track {
		background: #202020;
		border-radius: 10px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: rgb(80, 80, 80);
		border-radius: 10px;
		border: 2px solid #f1f1f1;
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}


	.mainContent {
		height: 200%;
	}

	img,
	video {
		max-height: calc(99vh - 120px);
		/* max-height: calc(99vh - 150px); */
		/* margin: 10px 5px; */
		/* width: auto; */
		/* max-width: 100%; */
		/* margin:auto; */
		/* display: block; */
	}

	.pagination {
		position: fixed;
		bottom: 25px;
		left: 0;
		right: 0;
		text-align: center;
		padding: 5px;
		/* background-color: #f1f1f1; */
	}

	.pagination a {
		display: inline-block;
		margin: 0 5px;
		padding: 5px 10px;
		background-color: #ddd;
		color: black;
		border-radius: 15px;
		text-decoration: none;
		font-size: 20px;
		min-width: 50px;
	}

	.pagination a.active {
		background-color: #4CAF50;
		color: white;
	}

	.pagination a.disabled {
		background-color: #aaa;
		color: white;
		cursor: default;
	}

	.searchvid {
		max-height: 80vh;
	}

	.pageButton {
		border: solid;
		border-color: black;
		/* opacity: 30%; */
	}

	.navigationButtons {
		background-color: rgb(29, 29, 29);
		padding: 6px 3px;
		font-weight: bold;
	}

	.dummyFooter {
		display: none;
	}
}

/* Styles for portrait orientation */
@media screen and (orientation: portrait) {

	/* search results page */
	body {
		background-color: black;
	}

	img {
		width: 100%;
	}

	video {
		width: 100%;
	}

	.pagination {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding: 20px;
		background-color: #f1f1f1;
	}

	.pagination a {
		display: inline-block;
		margin: 0 5px;
		padding: 5px 10px;
		background-color: #ddd;
		color: black;
		border-radius: 5px;
		text-decoration: none;
		font-size: 50px;
		min-width: 70px;
	}

	.pagination a.active {
		background-color: #4CAF50;
		color: white;
	}

	.pagination a.disabled {
		background-color: #aaa;
		color: white;
		cursor: default;
	}

	.imageName {
		font-weight: bold;
	}

	.tinyText {
		font-size: 8px;
		margin: 0;
		padding: 0;
	}

	.dummyFooter {
		height: 70vw;
	}
}