/* layout */

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.results {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	padding: 1rem;
	padding-bottom: 50vh;
}

.results::after {
	content: '';
	flex-grow: 999999999;
}

.result {
	margin: 2px;
	position: relative;
	font-size: 0.7rem;
	z-index: 3;
}

.result:hover {
	scale: 102%;
	z-index: 4;
	box-shadow: rgb(0, 0, 0) 5px 5px 5px,-5px 5px 5px,5px -5px 5px,-5px -5px 5px;
	transition: all 0.2s ease;
}

i {
	display: block;
}

img,
video {
	position: absolute;
	top: 0;
	width: 100%;
	vertical-align: bottom;
}

.imageSidebar {
	display: flex;
	position: fixed;
	top: 90%;
	left: 0;
	padding: 0.2rem .4rem;
	z-index: 0;
	order: 1;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7));
	word-wrap: break-word;
	word-break: break-all;
	opacity: 0%;
	gap: .3rem
}

.result:hover>.imageSidebar {
	opacity: 100%;
	top: 100%;
	z-index: 0;
	transition: all 0.3s ease;
}

.infoDiv {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.actionButtons {
	display: none;
	flex-direction: column;
}

.actionButtons>* {
	font-size: 1rem;
	width: 1.8rem;
	height: 1.8rem;
	background-color: black;
	border: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 5px;
	padding: 0;
}

.renameButton {
	background-color: cornflowerblue;
	color: white;
	font-weight: bold;
}

/* The Modal (background) */
#modal {
	position: fixed;
	display: none;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

.modalImageContainer,
.modalVideoContainer {
	display: none;
	height: 100%;
}

.filler {
	flex-grow: 2;
	width: 100px;
	color: red;
}

.modalVideo {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

#modalCloseButton {
	position: fixed;
	right: 1.5rem;
	top: 0rem;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	opacity: 10%;
}

#modalCloseButton:hover,
#modalCloseButton:focus {
	color: tomato;
	text-decoration: none;
	cursor: pointer;
	opacity: 100%;
}

#modalNextButton,
#modalPreviousButton,
#modalNextFromResultsButton,
#modalPreviousFromResultsButton {
	position: fixed;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	padding: 50px;
	opacity: 10%;
}

#modalNextButton {
	right: 2rem;
	top: 50%;
}

#modalPreviousButton {
	left: 2rem;
	top: 50%;
}

#modalNextFromResultsButton {
	right: 2rem;
	top: 30%;
}

#modalPreviousFromResultsButton {
	left: 2rem;
	top: 30%;
}

#modalNextButton:hover,
#modalNextButton:focus,
#modalPreviousButton:hover,
#modalPreviousButton:focus,
#modalNextFromResultsButton:hover,
#modalNextFromResultsButton:focus,
#modalPreviousFromResultsButton:hover,
#modalPreviousFromResultsButton:focus {
	color: cornflowerblue;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease;
	opacity: 100%;
}

.renameDialog {
	padding: 0;
	width: 100%;
}

.renameForm>* {
	font-size: 1rem;
}

/* base style not dependent on scaling or device */
body {
	background-color: black;
}

h2 {
	color: white;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: white;
}

button.default {
	color: gray;
	background-color: rgb(29, 29, 29);
}

button.processing {
	background-color: orange;
	color: white;
}

button.success {
	background-color: green;
	color: white;
}

button.error {
	background-color: red;
	color: white;
}

.imageTitle {
	font-weight: bold;
}

/* common layout */

.searchForm {
	display: flex;
	flex-direction: row;
	gap: .4rem;
}

input {
	padding: .4rem;
	height: 2.2rem;
	width: 100%;
	font-size: 1.3rem;
	background-color: rgb(29, 29, 29);
	color: white;
	border: none;
}

.shuffleDiv {
	height: 2.2rem;
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	padding: .4rem;
	background-color: rgb(29, 29, 29);
	gap: 5px;
}

label {
	font-size: 1.3rem;
	color: gray;
	align-self: center;
}

input[type='checkbox'] {
	align-self: center;
	width: 1.3rem;
	height: 1.3rem;
	margin: 2px 0;
}

button {
	width: 100%;
	height: 2.2rem;
	font-size: 1.3rem;
	border: none;
}

button:hover {
	background-color: white;
	color: black;
}

#fullscreenButton {
	z-index: 9;
	height: 2.5rem;
	width: 2.5rem;
	position: fixed;
	border-radius: 0;
	border-width: 0;
	margin: 0;
	padding: 0;
	right: 0rem;
	top: 0rem;
	font-size: 1.2rem;
	background-color: rgb(41, 41, 41);
	color: white;
}

*::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(29, 29, 29);
	border-radius: 1rem;
	border: 1rem solid rgb(51, 51, 51);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: white;
}

#sliderContainer {
	padding: 0 .4rem;
	display: flex;
	align-items: center;
	height: 2.2rem;
	gap: 0.3rem;
	background-color: rgb(29, 29, 29);
}

.slider {
	appearance: none;
	height: 2.2rem;
	background: rgb(29, 29, 29);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 1.6rem;
	height: 1.6rem;
	background: white;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
	scale: 120%;
	transition: all 0.3s ease;
}

.slider::-moz-range-thumb {
	width: 1.6rem;
	height: 1.6rem;
	background: white;
	cursor: pointer;
}

/* scaling */

@media screen and (orientation: landscape) {
	/* CSS rules for landscape orientation go here */

	/* phone */
	@media screen and (min-resolution: 100dpi) {
		html {
			font-size: 80%;
		}
	}

	/* pc */
	@media screen and (max-resolution: 100dpi) {
		html {
			font-size: 100%;
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.headingDiv {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}

	.controlsDiv {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
		padding-right: 2.7rem;
		gap: 5px;
	}

	.zoomAndConfig {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}

	h1,
	h2 {
		font-size: 2rem;
	}

}

@media screen and (orientation: portrait) {

	/* phone */
	@media screen and (min-resolution: 100dpi) {
		html {
			font-size: 100%;
		}

		.results {
			padding: 0;
		}

		.result:hover {
			scale: 100%;
			z-index: 4;
			box-shadow: none;
			transition: none;
		}

		/* To permanently show the image title and actions*/
		/* .imageSidebar {
			position: static;
			opacity: 100%;
		} */

	}

	/* pc */
	@media screen and (max-resolution: 100dpi) {
		html {
			font-size: 100%;
		}
	}

	/* common portrait settings */
	.controlsDiv {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.zoomAndConfig {
		display: flex;
		flex-direction: row;
		gap: 5px;
		justify-content: flex-end;
	}
}

#switchToTileViewButton {
	display: none;
}

.scaleButtons {
	display: none;
}

.selectedImage {
	border: 6px;
	border-style: dotted;
	border-color: cornflowerblue;
	border-radius: 10px;
	scale: 95%;
}