* {
	margin: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

h1,
h2 {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

h1 {
	color: white;
	font-size: 50rem;
	font-weight: bolder;
}

h2 {
	color: lightgray;
	font-weight: lighter;
}

body {
	margin: 0;
	max-width: 100%;
	/* to account for the navigation bar */
	overflow-wrap: break-word;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(39, 39, 39);
}

.mainContent {
	background-color: black;
	object-fit: contain;
}

a {
	text-decoration: none;
}

button.default {
	color: gray;
	background-color: rgb(29, 29, 29);
}

button.processing {
	background-color: orange;
	color: white;
}

button.success {
	background-color: green;
	color: white;
}

button.error {
	background-color: red;
	color: white;
}

.pagination {
	display: flex;
	flex-direction: row;
}

.pageButtons {
	display: block;
	flex: 1;
	align-items: center;
	margin: auto;
	overflow-x: auto;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

div.pageButtons::-webkit-scrollbar {
	display: none;
}

.navigationButtons {
	margin-left: auto;
	border: solid;
	border-width: 4rem;
	border-radius: 20rem;
	padding: 10rem;
	border-color: rgb(51, 51, 51);
}

/* Styles for landscape orientation */
@media screen and (orientation: landscape) {
	/* CSS rules for landscape orientation go here */

	html {
		height: 100%;
		margin: 0;
	}

	@media screen and (min-resolution: 100dpi) {
		html {
			font-size: 4.6875%;
		}
	}

	@media screen and (max-resolution: 100dpi) {
		html {
			font-size: 6.25%;
		}
	}

	/* search results page */
	body {
		margin: 0;
		background-color: black;
		height: 100%;
	}


	.mainDiv {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		height: 100%;
	}

	.header {
		display: flex;
		flex-direction: row;
	}

	.headingDiv {
		margin: 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}


	#shuffle {
		margin: 5rem;
	}

	h1,
	h2 {
		word-break: break-all;
		margin: 0rem;
		font-size: 30rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	.controlsDiv {
		display: flex;
		margin-right: 40rem;
		color: white;
		align-content: center;
	}

	.results {
		display: flex;
		flex-grow: 1;
		margin: 0;
		flex-wrap: nowrap;
		overflow-x: auto;
		justify-content: flex-start;
		height: 100%;
	}

	div.forms {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		height: 100%;
		color: white;
	}

	input {
		width: 250rem;
		height: 30rem;
		font-size: 20rem;
		background-color: rgb(29, 29, 29);
		border: none;
		margin: 2.5rem 5rem;
		padding: 5rem;
		color: white;
	}

	label {
		margin: 0 5rem;
		font-size: 20rem;
		color: gray;
	}

	input[type='checkbox'] {
		width: 20rem;
		height: 20rem;
	}


	div.searchForm {
		display: flex;
	}

	div.shuffleDiv {
		background-color: rgb(29, 29, 29);
		display: flex;
		justify-content: space-between;
		width: 250rem;
		height: 30rem;
		flex-direction: row;
		margin: 2.5rem 5rem;
	}

	div.buttonControls {
		margin: 2.5rem 5rem;
		width: 250rem;
		height: 30rem;
		display: flex;
		gap: 5rem;
	}


	button {
		font-size: 20rem;
		border: none;
		flex: 1;
		padding: 5rem;
	}

	button:hover {
		background-color: white;
		color: black;
	}

	.result {
		display: flex;
		flex-direction: row;
	}

	.imageSidebar {
		display: flex;
		flex-direction: column;
		margin: 0;
		align-items: flex-start;
		height: 100%;
	}

	.actionButtons {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: flex-end;
	}

	.actionButtons>* {
		padding: 0;
		font-size: 17rem;
		width: 26rem;
		height: 26rem;
		background-color: black;
		border: solid;
		border-color: gray;
		border-width: 1rem;
		border-radius: 5rem;
		margin: 0rem 1.5rem;
		margin-bottom: 10rem;
		max-height: 100%;
	}

	.infoDiv {
		display: flex;
		flex-grow: 1;
		align-content: flex-start;
		height: 89%;
		word-break: break-word;
		text-align: right;
	}

	.imageTitle,
	.subTitle {
		margin: 0;
		padding: 0;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		max-height: 100%;
		align-self: flex-start;
		width: fit-content;
		font-size: 22rem;
	}

	.imageTitle {
		color: white;
		font-weight: bold;
	}

	.subTitle {
		color: gray;
	}

	.mainContent {
		display: flex;
		align-content: flex-start;
		height: 100%;
		/* overflow-y: scroll; */
	}

	.resultFile {
		padding: 0;
		margin: 0;
		/* remove below line to disable upscaling of small images */
		min-height: auto;
		max-height: 99%;
		z-index: 1;
	}

	*::-webkit-scrollbar {
		width: 10rem;
	}

	/* *::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
		border-radius: 10rem;
		background-color: transparent;
	}	 */

	*::-webkit-scrollbar-thumb {
		background-color: rgb(29, 29, 29);
		border-radius: 10rem;
		border: 2rem solid rgb(51, 51, 51);
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: white;
	}

	.pagination {
		position: fixed;
		bottom: 20rem;
		left: 0;
		right: 0;
		text-align: center;
		padding: 5rem;
		margin-right: 10rem;
		/* background-color: #f1f1f1; */
	}

	.navigationButtons a {
		display: inline-block;
		margin: 0 5rem;
		padding: 5rem 10rem;
		background-color: #ddd;
		color: black;
		border-width: 0;
		border-radius: 13rem;
		text-decoration: none;
		font-size: 15rem;
		min-width: 50rem;
	}

	.pageButtons a {
		display: inline-block;
		margin: 0 5rem;
		padding: 4rem;
		background-color: #dddddd33;
		color: black;
		border-width: 0;
		border-radius: 15rem;
		text-decoration: none;
		font-size: 13rem;
		min-width: 27rem;
	}

	.pagination a.active {
		background-color: #4CAF50;
		color: white;
	}

	.pagination a.disabled {
		background-color: #aaa;
		color: white;
		cursor: default;
	}

	.searchvid {
		max-height: 80vh;
	}

	.pageButtons {
		display: block;
	}

	.pageButton {
		border: solid;
		border-color: black;
		/* opacity: 30%; */
	}

	.navigationButtons {
		background-color: rgb(29, 29, 29);
		padding: 6rem 3rem;
		font-weight: bold;
	}

	.dummyFooter {
		display: none;
	}

	#fullscreenButton {
		height: 30rem;
		width: 30rem;
		position: fixed;
		border-radius: 0;
		border-width: 0;
		margin: 0;
		padding: 0;
		right: 0rem;
		top: 0rem;
		font-size: 20rem;
		background-color: rgb(41, 41, 41);
		color: white;
	}
}

/* Styles for portrait orientation */
@media screen and (orientation: portrait) {

	html {
		width: 100%;
		margin: 0;

	}

	/* phone */
	@media screen and (min-resolution: 100dpi) {
		html {
			font-size: 6.25%;
		}
	}

	/* pc */
	@media screen and (max-resolution: 100dpi) {
		html {
			font-size: 3.125%;
		}
	}

	body {
		display: flex;
		flex-direction: column;
		padding: 10rem;
		background-color: black;
		width: 100%;
	}

	.mainDiv {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	h1 {
		font-weight: bolder;
	}

	h2 {
		font-size: 40rem;
		margin-bottom: 40rem;
	}

	.controlsDiv {
		margin-bottom: 2em;
	}

	.results {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.forms {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: white;
		margin-bottom: 40rem;
		padding: 10rem;
		gap: 20rem;
	}

	.searchForm {
		display: flex;
		flex-direction: row-reverse;
		gap: 20rem;
	}

	.searchForm>* {
		width: 50%;
	}

	input {
		height: 80rem;
		font-size: 40rem;
		background-color: rgb(29, 29, 29);
		border: none;
		color: white;
		padding: 20rem;
	}

	label {
		font-size: 40rem;
		color: gray;
		padding: 20rem;
	}

	input[type='checkbox'] {
		margin-top: 10rem;
		width: 60rem;
		height: 60rem;
		margin: 10rem;
	}

	div.buttonControls {
		height: 80rem;
		display: flex;
	}

	button {
		font-size: 40rem;
		border: none;
		flex: 1;
	}

	.searchForm {
		display: flex;
	}

	.shuffleDiv {
		background-color: rgb(29, 29, 29);
		display: flex;
		justify-content: space-between;
		height: 80rem;
		flex-direction: row;
	}

	div.scaleButtons {
		display: none;
	}

	.result {
		display: flex;
		flex-direction: column;
	}

	.imageSidebar {
		display: flex;
		order: 2;
		flex-direction: row-reverse;
		max-width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	/* force title and subtitle on separate lines */
	.infoDiv {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	.actionButtons>* {
		font-size: 40rem;
		width: 70rem;
		height: 70rem;
		background-color: black;
		border: solid;
		border-color: gray;
		border-width: 4rem;
		border-radius: 5rem;
	}

	.mainContent {
		order: 1;
		max-width: 100vw;
	}

	.showAtActualScaleButton {
		display: none;
	}

	.imageTitle {
		font-size: 40rem;
		color: white;
		font-weight: bolder;
	}

	.subTitle {
		font-size: 40rem;
		color: lightgrey;
		font-weight: lighter;
	}

	.resultFile {
		width: 100%;
	}

	.pagination {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding: 10rem;
		background-color: black;
	}

	.pagination a {
		display: inline-block;
		margin: 0 5rem;
		padding: 5rem 10rem;
		background-color: #ddd;
		color: black;
		border-radius: 5rem;
		text-decoration: none;
		font-size: 50rem;
		min-width: 80rem;
	}

	.pagination a.active {
		background-color: #4CAF50;
		color: white;
	}

	.pagination a.disabled {
		background-color: #aaa;
		color: white;
		cursor: default;
	}

	.imageName {
		font-weight: bold;
	}

	.tinyText {
		font-size: 8rem;
		margin: 0;
		padding: 0;
	}

	.dummyFooter {
		height: 70vw;
	}

	#showHideHeadingBtn {
		display: none;
	}

	#fullscreenButton {
		height: 80rem;
		width: 80rem;
		position: fixed;
		border-radius: 0;
		border-width: 0;
		margin: 0;
		padding: 0;
		right: 0rem;
		top: 0rem;
		font-size: 60rem;
		background-color: rgb(41, 41, 41);
		color: white;
	}
}

#sliderContainer {
	display: none;
}