* {
	margin: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

h1,
h2 {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

h1 {
	color: white;
	font-size: 50px;
	font-weight: bolder;
}

h2 {
	color: lightgray;
	font-weight: lighter;
}

body {
	margin: 0;
	max-width: 100%;
	/* to account for the navigation bar */
	overflow-wrap: break-word;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(39, 39, 39);
}

.mainContent {
	background-color: black;
	object-fit: contain;
}

a {
	text-decoration: none;
}

button.default {
	color: gray;
	background-color: rgb(29, 29, 29);
}

button.processing {
	background-color: orange;
	color: white;
}

button.success {
	background-color: green;
	color: white;
}

button.error {
	background-color: red;
	color: white;
}

.pagination {
	display: flex;
	flex-direction: row;
}

.pageButtons {
	display: block;
	flex: 1;
	align-items: center;
	margin: auto;
	overflow-x: auto;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

div.pageButtons::-webkit-scrollbar {
	display: none;
}

.navigationButtons {
	margin-left: auto;
	border: solid;
	border-width: 4px;
	border-radius: 20px;
	padding: 10px;
	border-color: rgb(51, 51, 51);
}


/* Styles for landscape orientation */
@media screen and (orientation: landscape) {
	/* CSS rules for landscape orientation go here */

	html {
		height: 100%;
		margin: 0;
	}

	/* search results page */
	body {
		margin: 0;
		background-color: black;
		height: 100%;
	}


	.mainDiv {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		height: 100%;
	}

	.header {
		display: flex;
		flex-direction: row;
	}

	.headingDiv {
		margin: 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}


	#shuffle {
		margin: 5px;
	}

	h1,
	h2 {
		word-break: break-all;
		margin: 0px;
		font-size: 30px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	.controlsDiv {
		display: flex;
		margin-right: 40px;
		color: white;
		align-content: center;
	}

	.results {
		display: flex;
		flex-grow: 1;
		margin: 0;
		flex-wrap: nowrap;
		overflow-x: auto;
		justify-content: flex-start;
		height: 100%;
	}

	div.forms {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		height: 100%;
		color: white;
	}

	input {
		width: 250px;
		height: 30px;
		font-size: 20px;
		background-color: rgb(29, 29, 29);
		border: none;
		margin: 2.5px 5px;
		padding: 5px;
		color: white;
	}

	label {
		margin: 0 5px;
		font-size: 20px;
		color: gray;
	}

	input[type='checkbox'] {
		width: 20px;
		height: 20px;
	}


	div.searchForm {
		display: flex;
	}

	div.shuffleDiv {
		background-color: rgb(29, 29, 29);
		display: flex;
		justify-content: space-between;
		width: 250px;
		height: 30px;
		flex-direction: row;
		margin: 2.5px 5px;
	}

	div.buttonControls {
		margin: 2.5px 5px;
		width: 250px;
		height: 30px;
		display: flex;
		gap: 5px;
	}


	button {
		font-size: 20px;
		border: none;
		flex: 1;
		padding: 5px;
	}

	button:hover {
		background-color: white;
		color: black;
	}

	.result {
		display: flex;
		flex-direction: row;
	}

	.imageSidebar {
		display: flex;
		flex-direction: column;
		margin: 0;
		align-items: flex-start;
		height: 100%;
	}

	.actionButtons {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: flex-end;
	}

	.actionButtons>* {
		padding: 0;
		font-size: 17px;
		width: 26px;
		height: 26px;
		background-color: black;
		border: solid;
		border-color: gray;
		border-width: 1px;
		border-radius: 5px;
		margin: 0px 1.5px;
		margin-bottom: 10px;
		max-height: 100%;
	}

	.infoDiv {
		display: flex;
		flex-grow: 1;
		align-content: flex-start;
		height: 89%;
		word-break: break-word;
		text-align: right;
	}

	.imageTitle,
	.subTitle {
		margin: 0;
		padding: 0;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		max-height: 100%;
		align-self: flex-start;
		width: fit-content;
		font-size: 22px;
	}

	.imageTitle {
		color: white;
		font-weight: bold;
	}

	.subTitle {
		color: gray;
	}

	.mainContent {
		display: flex;
		align-content: flex-start;
		height: 100%;
		/* overflow-y: scroll; */
	}

	.resultFile {
		padding: 0;
		margin: 0;
		/* remove below line to disable upscaling of small images */
		min-height: auto;
		max-height: 99%;
		z-index: 1;
	}

	*::-webkit-scrollbar {
		width: 10px;
	}

	/* *::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		background-color: transparent;
	}	 */

	*::-webkit-scrollbar-thumb {
		background-color: rgb(29, 29, 29);
		border-radius: 10px;
		border: 2px solid rgb(51, 51, 51);
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: white;
	}

	.pagination {
		position: fixed;
		bottom: 20px;
		left: 0;
		right: 0;
		text-align: center;
		padding: 5px;
		margin-right: 10px;
		/* background-color: #f1f1f1; */
	}

	.navigationButtons a {
		display: inline-block;
		margin: 0 5px;
		padding: 5px 10px;
		background-color: #ddd;
		color: black;
		border-width: 0;
		border-radius: 13px;
		text-decoration: none;
		font-size: 15px;
		min-width: 50px;
	}

	.pageButtons a {
		display: inline-block;
		margin: 0 5px;
		padding: 4px;
		background-color: #dddddd33;
		color: black;
		border-width: 0;
		border-radius: 15px;
		text-decoration: none;
		font-size: 13px;
		min-width: 27px;
	}

	.pagination a.active {
		background-color: #4CAF50;
		color: white;
	}

	.pagination a.disabled {
		background-color: #aaa;
		color: white;
		cursor: default;
	}

	.searchvid {
		max-height: 80vh;
	}

	.pageButtons {
		display: block;
	}

	.pageButton {
		border: solid;
		border-color: black;
		/* opacity: 30%; */
	}

	.navigationButtons {
		background-color: rgb(29, 29, 29);
		padding: 6px 3px;
		font-weight: bold;
	}

	.dummyFooter {
		display: none;
	}

	#fullscreenButton {
		height: 30px;
		width: 30px;
		position: fixed;
		border-radius: 0;
		border-width: 0;
		margin: 0;
		padding: 0;
		right: 0px;
		top: 0px;
		font-size: 20px;
		background-color: rgb(41, 41, 41);
		color: white;
	}
}

/* Styles for portrait orientation */
@media screen and (orientation: portrait) {

	html {
		width: 100%;
		margin: 0;
	}

	body {
		display: flex;
		flex-direction: column;
		padding: 10px;
		background-color: black;
		width: 100%;
	}

	.mainDiv {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	h1 {
		font-weight: bolder;
	}

	h2 {
		font-size: 40px;
		margin-bottom: 40px;
	}

	.controlsDiv {
		margin-bottom: 2em;
	}

	.results {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.forms {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: white;
		margin-bottom: 40px;
		padding: 10px;
		gap: 20px;
	}

	.searchForm {
		display: flex;
		flex-direction: row-reverse;
		gap: 20px;
	}

	.searchForm>* {
		width: 50%;
	}

	input {
		height: 80px;
		font-size: 40px;
		background-color: rgb(29, 29, 29);
		border: none;
		color: white;
		padding: 20px;
	}

	label {
		font-size: 40px;
		color: gray;
		padding: 20px;
	}

	input[type='checkbox'] {
		margin-top: 10px;
		width: 60px;
		height: 60px;
		margin: 10px;
	}

	div.buttonControls {
		height: 80px;
		display: flex;
	}

	button {
		font-size: 40px;
		border: none;
		flex: 1;
	}

	.searchForm {
		display: flex;
	}

	.shuffleDiv {
		background-color: rgb(29, 29, 29);
		display: flex;
		justify-content: space-between;
		height: 80px;
		flex-direction: row;
	}

	div.scaleButtons {
		display: none;
	}

	.result {
		display: flex;
		flex-direction: column;
	}

	.imageSidebar {
		display: flex;
		order: 2;
		flex-direction: row-reverse;
		max-width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	/* force title and subtitle on separate lines */
	.infoDiv {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	.actionButtons>* {
		font-size: 40px;
		width: 70px;
		height: 70px;
		background-color: black;
		border: solid;
		border-color: gray;
		border-width: 4px;
		border-radius: 5px;
	}

	.mainContent {
		order: 1;
		max-width: 100vw;
	}

	.showAtActualScaleButton {
		display: none;
	}

	.imageTitle {
		font-size: 40px;
		color: white;
		font-weight: bolder;
	}

	.subTitle {
		font-size: 40px;
		color: lightgrey;
		font-weight: lighter;
	}

	.resultFile {
		width: 100%;
	}

	.pagination {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding: 10px;
		background-color: black;
	}

	.pagination a {
		display: inline-block;
		margin: 0 5px;
		padding: 5px 10px;
		background-color: #ddd;
		color: black;
		border-radius: 5px;
		text-decoration: none;
		font-size: 50px;
		min-width: 80px;
	}

	.pagination a.active {
		background-color: #4CAF50;
		color: white;
	}

	.pagination a.disabled {
		background-color: #aaa;
		color: white;
		cursor: default;
	}

	.imageName {
		font-weight: bold;
	}

	.tinyText {
		font-size: 8px;
		margin: 0;
		padding: 0;
	}

	.dummyFooter {
		height: 70vw;
	}

	#showHideHeadingBtn {
		display: none;
	}
}